<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/admin}" th:object="${userForm}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" th:field="*{username}" ><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}" ><br>
    <label for="url">URL:</label><br>
    <input type="url" id="url" th:field="*{url}" ><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
